<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB4IRnCPHyHo0BpjAOU9xPB9Hm5R8zoVMQ</string>
	<key>GCM_SENDER_ID</key>
	<string>729338535501</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Test.TodoListApp</string>
	<key>PROJECT_ID</key>
	<string>o3interfacestodolistapp</string>
	<key>STORAGE_BUCKET</key>
	<string>o3interfacestodolistapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:729338535501:ios:c40cbbaee32b92dddd0604</string>
</dict>
</plist>